# Default ignored files
/shelf/
/workspace.xml

#Datasource local storage ignored files
# /dataSources/
# /dataSources.local.xml

#  Editor-based HTTP Client requests
# /httpRequests/

# my private stuff
/src/main/my_private/
/src/main/my_private/*

.gitignore
